In [2]:
import pandas as pd

In [3]:
# lấy dữ liệu trên dòng loc- iloc

d = {'name' : pd.Series(['An', 'Hoa', 'Trung','Huy','Thanh','Dung'], index=[49,48,47, 1, 2, 3]),
      'age' : pd.Series([15, 22, 36,27,55],index=[49,48,47, 1, 3])
    }
                         
df=pd.DataFrame(d,columns=['name','age'])
print('Dataframe\n',df)

## Lấy dữ liệu theo loc - iloc

#loc

print('Giá trị dòng 3- cột name là:', df.loc[3,'name'])

#iloc
print('Giá trị dòng index 3- cột name là:',df.iloc[3,0])
print('Giá trị dòng index 4- cột name là:',df.iloc[4,0])

print('Lọc những nhân viên có tuổi >30: \n', df.loc[df['age']>30])

print('Lọc tên những nhân viên có tuổi >30: \n', df.loc[df['age']>30,'name'])

Dataframe
      name   age
1     Huy  27.0
2   Thanh   NaN
3    Dung  55.0
47  Trung  36.0
48    Hoa  22.0
49     An  15.0
Giá trị dòng 3- cột name là: Dung
Giá trị dòng index 3- cột name là: Trung
Giá trị dòng index 4- cột name là: Hoa
Lọc những nhân viên có tuổi >30:
      name   age
3    Dung  55.0
47  Trung  36.0
Lọc tên những nhân viên có tuổi >30:
 3      Dung
47    Trung
Name: name, dtype: object

In [6]:
df[df['age']>30]

     name   age
3    Dung  55.0
47  Trung  36.0