In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    'Outlook': ['Sunny', 'Sunny', 'Overcast', 'Rain', 'Rain', 'Rain', 'Overcast', 'Sunny', 'Sunny','Rain', 'Sunny', 'Overcast', 'Overcast', 'Rain'],
    'Type': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild','Mild','Mild','Hot', 'Mild'],
    'Humidity': ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'Normal','Normal','High','Normal','High'],
    'Wind': ['Weak', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Weak', 'Weak','Strong','Strong','Weak','Strong'],
    'Play Tennis': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes','Yes','Yes','No']    
})
df

     Outlook  Type Humidity    Wind Play Tennis
0      Sunny   Hot     High    Weak          No
1      Sunny   Hot     High  Strong          No
2   Overcast   Hot     High    Weak         Yes
3       Rain  Mild     High    Weak         Yes
4       Rain  Cool   Normal    Weak         Yes
5       Rain  Cool   Normal  Strong          No
6   Overcast  Cool   Normal  Strong         Yes
7      Sunny  Mild     High    Weak          No
8      Sunny  Cool   Normal    Weak         Yes
9       Rain  Mild   Normal    Weak         Yes
10     Sunny  Mild   Normal  Strong         Yes
11  Overcast  Mild     High  Strong         Yes
12  Overcast   Hot   Normal    Weak         Yes
13      Rain  Mild     High  Strong          No

In [6]:
X = df.drop(columns = ['Play Tennis'])
y = df['Play Tennis']

In [7]:
X.head()

    Outlook  Type Humidity    Wind
0     Sunny   Hot     High    Weak
1     Sunny   Hot     High  Strong
2  Overcast   Hot     High    Weak
3      Rain  Mild     High    Weak
4      Rain  Cool   Normal    Weak

In [8]:
#Biến đổi các thuộc tính phân loại dạng nhãn => số
X_now = pd.get_dummies(data=X)
X_now

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Type_Cool,Type_Hot,Type_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
0,0,0,1,0,1,0,1,0,0,1
1,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1
5,0,1,0,1,0,0,0,1,1,0
6,1,0,0,1,0,0,0,1,1,0
7,0,0,1,0,0,1,1,0,0,1
8,0,0,1,1,0,0,0,1,0,1
9,0,1,0,0,0,1,0,1,0,1
10,0,0,1,0,0,1,0,1,1,0
11,1,0,0,0,0,1,1,0,1,0
12,1,0,0,0,1,0,0,1,0,1
13,0,1,0,0,0,1,1,0,1,0

In [9]:
y.head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Play Tennis, dtype: object

In [10]:
y_now = pd.get_dummies(data=y, drop_first=True, prefix='Play Tennis')
y_now.head()

   Play Tennis_Yes
0                0
1                0
2                1
3                1
4                1

## sử dụng BernoulliNB

In [11]:
from sklearn.naive_bayes import BernoulliNB

In [12]:
#khởi tạo model
model = BernoulliNB()

In [13]:
#huấn luyện model
model.fit(X_now, y_now)

C:\Users\gtp43728\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

BernoulliNB()

In [26]:
X_new = [[0,1,0,1,0,0,1,0,1,0]]

In [27]:
y_new = model.predict(X_new)
y_new

array([0], dtype=uint8)

Outlook = Rain, Temperature = Cool, Humidity = High và Windy = Strong thì Play Golf = No

## Sử dụng GaussianNB

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
# khởi tạo model
model2 = GaussianNB()

In [30]:
model2.fit(X_now, y_now)

C:\Users\gtp43728\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [31]:
y_new = model2.predict(X_new)
y_new

array([0], dtype=uint8)

Outlook = Rain, Temperature = Cool, Humidity = High và Windy = Strong thì Play Golf = No