In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df['species'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

In [7]:
# chuyển biến species sang kiểu số
# sử dụng LabelEncoder --> tự làm
# sử dụng dictionary để thay thế
dict_species = {'setosa': 0, 'versicolor': 1, 'virginica': 2}
# df['species_encode'] = [dict_species[i] for i in df['species']]
# df['species_encode'] = df['species'].map(lambda x: dict_species[x])
df['species_encode'] = df['species'].map(dict_species)

In [8]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [9]:
df.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode
145,6.7,3.0,5.2,2.3,virginica,2
146,6.3,2.5,5.0,1.9,virginica,2
147,6.5,3.0,5.2,2.0,virginica,2
148,6.2,3.4,5.4,2.3,virginica,2
149,5.9,3.0,5.1,1.8,virginica,2

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [11]:
X = df.drop(['species', 'species_encode'], axis=1)
y = df['species_encode']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
#khởi tạo model
model = LogisticRegression(multi_class='multinomial')

In [14]:
# huấn luyện model
model.fit(X_train, y_train)

c:\program files\python36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(multi_class='multinomial')

In [15]:
yhat_train = model.predict(X_train)

In [16]:
y_train[:5]

133    2
51     1
89     1
124    2
16     0
Name: species_encode, dtype: int64

In [17]:
yhat_train[:5]

array([1, 1, 1, 2, 0], dtype=int64)

In [18]:
yhat_test = model.predict(X_test)

In [19]:
y_test[:5]

57     1
67     1
28     0
128    2
88     1
Name: species_encode, dtype: int64

In [20]:
yhat_test[:5]

array([1, 1, 0, 2, 1], dtype=int64)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
print('Accuracy score in train:', accuracy_score(y_train, yhat_train))
print('Accuracy score in test:', accuracy_score(y_test, yhat_test))

Accuracy score in train: 0.9666666666666667
Accuracy score in test: 0.9666666666666667

In [25]:
#sepal_length	sepal_width	petal_length	petal_width
X_new = [[4.9, 3.3, 1.7, 0.4], [5.8, 3.9, 4.8, 2.0]]
yhat_new = model.predict(X_new)
yhat_new

array([0, 2], dtype=int64)