## Minh họa các hàm thống kê Pandas - Series

In [1]:
# Import thư viện

import numpy as np
import pandas as pd

In [12]:
s1 = pd.Series([25,26])
s2 = pd.Series([25,26,32])
print(s1)
print('Số phần tử (khác null):',s1.count())
s1.size

0    25
1    26
dtype: int64
Số phần tử (khác null): 2

2

In [13]:
s2 + s1

0    50.0
1    52.0
2     NaN
dtype: float64

In [6]:
print("Sum:", s2.sum())
print("Mean:", s2.mean())
print("Median:",s2.median()) 
print("Mode:\n",s2.mode() )
print("Std:", s2.std())

Sum: 46
Mean: 7.666666666666667
Median: 8.0
Mode:
 0     8
1    10
dtype: int64
Std: 2.3380903889000244

In [7]:
print(s2.values)
print("Min:",s2.min())
print("Max:",s2.max())
print("Abs:",s2.abs())
print("Prod:",s2.prod()) 
print("Cumsum:\n",s2.cumsum())
print("Cumprod: \n",s2.cumprod())

[10  8  8  6  4 10]
Min: 4
Max: 10
Abs: 0    10
1     8
2     8
3     6
4     4
5    10
dtype: int64
Prod: 153600
Cumsum:
 0    10
1    18
2    26
3    32
4    36
5    46
dtype: int64
Cumprod:
 0        10
1        80
2       640
3      3840
4     15360
5    153600
dtype: int64

In [8]:
s2.describe()

count     6.000000
mean      7.666667
std       2.338090
min       4.000000
25%       6.500000
50%       8.000000
75%       9.500000
max      10.000000
dtype: float64

In [9]:
s2

0    10
1     8
2     8
3     6
4     4
5    10
dtype: int64

In [10]:
s2[6] = 'a'
s2

0    10
1     8
2     8
3     6
4     4
5    10
6     a
dtype: object

In [11]:
s2

0    10
1     8
2     8
3     6
4     4
5    10
6     a
dtype: object